<div class="main top-main">
  <div class="container">
    <div class="content">
      <% @object_urls.each do |url|%>
        <div class="introduction">
          <img class="image" src="<%= url %>">
        </div>
      <% end %>
    </div>
    <p>みんなに自分のお気に入りのSpotを共有しよう!</p>
    <div class="sign up">
      <%= link_to '今すぐ登録!', new_user_registration_path  %>
    </div>
  </div>
</div>