<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <div class="main top-main">
    <div class="container">
    <!- コンテンツ紹介->
    </div>
  </div>
  <div class="sign-in">
    <div class="container">
      <p>今すぐ登録!</p>
      <%= link_to '登録', new_user_registration_path  %>
    </div>

  </div>
  </body>
</html>