<div class="main top-main">
  <div class="container">
    <div class="content">
      <div class="introduction"><img class="image" src="/introduction.png"></div>
      <div class="introduction"><img class="image" src="/introduction2.png"></div>
      <div class="introduction"><img class="image" src="/introduction3.png"></div>
    </div>
    <p>みんなに自分のお気に入りのSpotを共有しよう!</p>
    <div class="sign up">
      <%= link_to '今すぐ登録!', new_user_registration_path  %>
    </div>
  </div>
</div>