// Place all the styles related to the like controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.like-count{
    float: left;
    margin-top: 20px;
}

.fa-heart{
  float: left;
  width: 1px;
}
  
.far{
    color: deeppink;
    margin-bottom: 10px;
}

.fas{
    color: deeppink;
}

