// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.form input{
  border-radius: 10%;
  border: 1px solid aquamarine
}

.form textarea{
  border-radius: 7%;
  border: 1px solid aquamarine
}

.posts-index-item{
  padding: 20px 30px;
  background-color: rgb(250, 244, 244);
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  height: 590px;
}


.post-down{
  height: 500px;
}


.post-up{
  float: left;
}


.post-down a{
  clear: both;
  display: block;
  padding-top: 10px;
  
}

.posts-show form {
  display: inline;
}

.post-user-name{
  float: left;

}

.user-name{
  float: left;
  margin-top: 23px;
  margin-left: 7px;
}

.posts-show-item {
  padding: 30px;
  background-color: rgb(250, 244, 244);
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}

.post-item{
  clear: both;
}

.post-image{
  width: 100%;
}

.post-item img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.post-item .janle{
  font-size: 10px;
}

.posts-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 15px;
  margin-left: 15px;
}



.posts-show-item p {
  font-size: 20px;
  margin: 20px 0;
}

.post-time {
  color: #8899a6;
  margin-bottom: 10px;
}

.form p{
  margin: 3px;
}

.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

.like-count{
  margin-top: 20px;
}

.posts-show-item .fa {
  font-size: 16px;
  margin-right: 3px;
}

.posts-show-item .fa-heart{
  clear: both;
}

.posts-show-item .like-count{
  margin-bottom: 10px;
}

.post-menus {
  float: right;
}

.post-menus a, .post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}

.user-icon {
    width: 50px;
    height: 50px;
    //サイズ指定
    border-radius: 30px;
    //画像を丸くする
    object-fit: cover;
    //タテヨコ比を変えないままトリミング
}


.icon{
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.janle{
  float: left;
}

.hidden-link{
  display: block;
  width: 100%;
}

.fa{
   color: #ff2581;
}


@media (max-width: 670px){
  .posts-index-item{
    width: 80%;
    padding: 20px, 30px;
    margin-right: 30px;
    background-color: rgb(250, 244, 244);
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
  }
}
@media (max-width: 670px){
  .icon{
    display: inline-block;
    width: 240px;
    height: 240px;
    object-fit: cover;
  }

  .form input{
    width: 50%;
    height: auto;
  }

  .form textarea{
    width: 50%;
    height: auto;
  }
  
}

// タブ切り替え
.tab {
  float: left;
  display: block;
  width: 25%;
  padding: 10px 20px; 
  cursor: pointer;
  border: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}



.tab-header{
  width: 100%;
  height: 30%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}


.tab:first-child {
  border-left: none;
}
// タブがactiveのときのデザイン
.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}
// タブの中身、最初は非表示
.tabbox {
  clear: both;
  display: none;
  padding: 15px;
}

.tabbox-contents{

  margin-right: 30px;

}

// box-showクラスのものだけ表示
.box-show {
  display: block;
}
// hover時のアクション
.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

@media (max-width: 670px) {
  .container {
    width: 100%;
    margin-right: 30px;
    margin-left: 30px;
    margin: 0px auto;
    clear: both;
  }

  .tab {
    float: left;
    display: block;
    width: 30%;
    padding: 10px 20px; 
    cursor: pointer;
    border: solid 1px #CCC;
    border-bottom: solid 1px #CCC;
  }

 
  
}

