.field{
    margin-top: 15px;
    margin-bottom: 10px;
}

.main-users input {
    border:none;
    border-radius: 10px;
    background-color: #a9a9a9;
    padding: 2px 8px;
    width: 50%;
}


.start{
    display: inline-block;
    margin-top: 10px;
    background-color: antiquewhite;
    border-radius: 10px;
}


.like{
    float: left;
}

.like-count{
    margin-bottom: 10px;
    float: left;
}

.user-icon {
    width: 70px;
    height: 70px;
    //サイズ指定
    border-radius: 40px;
    //画像を丸くする
    object-fit: cover;
    //タテヨコ比を変えないままトリミング
}

.user-image {
    margin-top: 10px;

}