.field{
    margin-top: 15px;
    margin-bottom: 10px;
}

.registration-new input {
    border:none;
    border-radius: 10px;
    background-color: darkgray;
    padding: 2px 8px;
    width: 50%;
}

.user-new input{
    border:none;
    border-radius: 10px;
    background-color: darkgray;
    padding: 2px 8px;
    width: 50%;
}


.log-in{
    margin-top: 10px;
    background-color: aliceblue;
    border-radius: 10px;
}

.facebook-btn{
    display: inline-block;
    margin-top: 10px;
    background-color: antiquewhite;
    border-radius: 10px;
}